<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.13-pre7" targetFramework="net40" />
  <package id="dotNetRDF.Query.FullText" version="1.0.13-pre7" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="VDS.Common" version="1.7.0" targetFramework="net40" />
</packages>