<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VDS.RDF.Utilities.StoreManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VDS.RDF.Utilities.StoreManager.Properties.Settings>
            <setting name="UseUtf8Bom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysEdit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRecentConnections" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="RestoreActiveConnections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromptRestoreActiveConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysRestoreActiveConnections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorHighlighting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorDetectUrls" serializeAs="String">
                <value>False</value>
            </setting>
        </VDS.RDF.Utilities.StoreManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.23.0" newVersion="1.11.23.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
