<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="2.7.1" targetFramework="net40" />
  <package id="dotNetRDF.Data.Virtuoso" version="2.7.1" targetFramework="net40" />
  <package id="dotNetRDF.Query.FullText" version="2.7.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.11.31" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="OpenLink.Data.Virtuoso" version="7.20.3214.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="VDS.Common" version="1.10.0" targetFramework="net40" />
</packages>