<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRdf" version="3.0.0-rc0001" targetFramework="net472" />
  <package id="dotNetRdf.AspNet" version="3.0.0-rc0001" targetFramework="net472" />
  <package id="dotNetRdf.Writing.HtmlSchema" version="3.0.0-rc0001" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="VDS.Common" version="1.10.0" targetFramework="net40" />
  <package id="VDS.Web.Server" version="1.2.0" targetFramework="net40" />
</packages>